.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(68.15deg, #1c565e 16.62%, #8E5D52 85.61%);
    padding: 2.7vh;
    margin-bottom: 20px;
    margin: 0;
}